<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookit / Add Room</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-menu') %>
    <div class="content">
        <div class="form-container">
            <h1>Add New Room</h1>
            <form action="/add-room" method="post">
                <div class="input-group">
                    <label for="roomNumber">Room Number:</label>
                    <input type="text" id="roomNumber" name="roomNumber" required>
                </div>
                <div class="input-group">
                    <label for="buildingName">Building Name:</label>
                    <input type="text" id="buildingName" name="buildingName" required>
                </div>
                <div class="input-group">
                    <label for="capacity">Capacity:</label>
                    <input type="number" id="capacity" name="capacity" required>
                </div>
                <div class="input-group">
                    <label for="roomType">Room Type:</label>
                    <select id="roomType" name="roomType" required>
                        <% for (let i = 0; i < roomTypes.length; i++) { %>
                            <option value="<%= roomTypes[i].room_type %>"><%= roomTypes[i].room_type %></option>
                        <% } %>
                    </select>
                </div>                
                <div class="input-group">
                    <label for="pictureURL">Picture URL:</label>
                    <input type="text" id="pictureURL" name="pictureURL">
                </div>
                <div class="input-group">
                    <label for="isAcceptingBookings">Accepting Bookings:</label>
                    <select id="isAcceptingBookings" name="isAcceptingBookings">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <button type="submit" class="button-link">Add Room</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
