<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Booking FAQs</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-nomenu') %>
    <div class="content">
        <div class="faq-container">
            <h1>Room Booking FAQs</h1>
            <ul>
                <li>
                    <h3>Who can use the room booking app?</h3>
                    <p>The app is designed for society leaders, faculty, and staff.  New users will have to wait for approval from a room booking co-ordinator.</p>
                </li>
                <li>
                    <h3>How can I book a room?</h3>
                    <p>After logging in, go to the "Book Room" section. Choose your date, time, and location. Select an available room and confirm your booking. You will then have to wait for approval from a co-ordinator.</p>
                </li>
                <li>
                    <h3>Are there any restrictions on room bookings?</h3>
                    <p>Some rooms may have specific restrictions, such as maximum occupancy or designated purposes. Please review any room details before confirming your booking to ensure compliance with guidelines.</p>
                </li>
                <li>
                    <h3>How can I provide feedback or report issues with the app?</h3>
                    <p>Feedback and issues can be reporting with the "Report Bug" button! Use this app's feature to suggest improvements, or share your experience using the room booking app.</p>
                </li>
            </ul>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>