<footer class="footer">
    <a href="#" class="footer-link">Credits</a>
    <a href="mailto:support@bookit.com" class="footer-link">Support Email</a>
    <a href="#" class="footer-link">Report Bug</a>
    <a href="#" class="footer-link">FAQ / Help</a>  
</footer>