<header class="top-menu">
    <div class="logo">
        <img src="/logo.png" alt="Bookit Logo">
    </div>
    <div class="app-name">Bookit</div>
    <div class="logged-in-as"><%= loggedInMessage %></div>
</header>