<header class="top-menu">
    <div class="logo">
        <img src="logo.png" alt="Bookit Logo">
    </div>
    <div class="app-name">Bookit</div>
    <div class="logged-in-as"><%= loggedInMessage %></div>
    <div class="logout-user-button-image"></div>
        <a href="/login-success" class="button-link">Menu</a>
    </div>
    <div class="logout-user-button-image"></div>
        <a href="/logout" class="button-link">Logout</a>
    </div>
</header>