<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bookit</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-nomenu-nologout') %>
    <div class="content">
        <div class="welcome-container">
            <h1>Welcome to Bookit</h1>
            <p>Please Log in</p>
            <form action="/login-check" class="input-group-admin-pages" method="POST">
                <div class="input-group-admin-pages">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group-admin-pages">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="button-link">Log in</button>
            </form>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
