<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bookit</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="top-menu">
        <div class="logo">
            <img src="logo.png" alt="Bookit Logo">
        </div>
        <div class="app-name">Bookit</div>
        <div class="logged-in-as"><%= loggedInMessage %></div>
        <div class="logout-user-button-image"></div>
            <a href="/logout" class="button-link">Logout</a>
        </div>
    </header>
    <div class="content">
        <div class="welcome-container">
            <% switch (userrole) {
                case "coordinator": %>
                    <img src="person-green.png" alt="" class="welcome-user-logo">
                    <% break;
                case "admin": %>
                    <img src="person-green.png" alt="" class="welcome-user-logo">
                    <% break;
                default: %>
                    <img src="person-orange.png" alt="" class="welcome-user-logo">
            <% } %>
            <h1>Welcome, <%= email %></h1>
            <a href="#" class="button-link">Book Room</a>
            <a href="/view-bookings" class="button-link">View Bookings</a>
            <% if(userrole == "coordinator"){ %>
                <a href="#" class="button-link">View Requests</a>
                <a href="#" class="button-link">View Accepted</a>
            <% } %>
            <% if(userrole == "admin"){ %>
                <a href="/register" class="button-link">Register User</a>
                <a href="#" class="button-link">Add Room</a>
            <% } %>
        </div>
    </div>
    <footer class="footer">
        <a href="#" class="footer-link">Credits</a>
        <a href="mailto:support@bookit.com" class="footer-link">Support Email</a>
        <a href="#" class="footer-link">Report Bug</a>
        <a href="#" class="footer-link">FAQ / Help</a>  
    </footer>
</body>
</html>
