<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bookit</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <%- include('header-nomenu') %>
    <div class="content">
        <div class="welcome-container">
            <% switch (userrole) {
                case "coordinator": %>
                    <img src="person-green.png" alt="" class="welcome-user-logo">
                    <% break;
                case "admin": %>
                    <img src="person-green.png" alt="" class="welcome-user-logo">
                    <% break;
                default: %>
                    <img src="person-orange.png" alt="" class="welcome-user-logo">
            <% } %>
            <h1>Welcome, <%= email %></h1>
            <a href="/rooms-list" class="button-link">Book Room</a>
            <a href="/bookings-list" class="button-link">View Bookings</a>
            <% if(userrole == "coordinator"){ %>
                <a href="/requests-list" class="button-link">View Requests</a>
                <a href="/approved-list" class="button-link">View Approved</a>
            <% } %>
            <% if(userrole == "admin"){ %>
                <a href="/requests-list" class="button-link">View Requests</a>
                <a href="/approved-list" class="button-link">View Approved</a>
                <a href="/register" class="button-link">Register User</a>
                <a href="/add-room" class="button-link">Add Room</a>
                <a href="/edit-rooms-list" class="button-link">Edit Rooms</a>
            <% } %>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>
