body {
    font-family: "Trebuchet MS", "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* Removed padding-top here since we already have padding in the top-menu */
    display: flex;
    flex-direction: column;
    /* Changed to column to organize items vertically */
    justify-content: flex-start;
    /* Align content to the top */
    align-items: center;
    /* Center align items horizontally */
    min-height: 100vh;
    /* Use min-height to fill the screen but allow scrolling */
}

h2 {
    font-size: 2em;
}

.top-menu {
    background: #fff;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    /* Ensure it spans from the left */
    right: 0;
    /* Ensure it spans to the right */
    z-index: 1000;
    display: flex;
    align-items: center;
    /* Center items vertically */
    padding: 0 20px;
    /* Add padding on the sides */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.logo img {
    height: 40px;
    /* Adjust as needed */
    border-radius: 20%;
}

.app-name {
    font-size: 20px;
    font-weight: bold;
    color: #ff8200;
    margin-left: 10px;
    /* Add spacing between logo and app name */
}

.logged-in-as {
    font-size: 20px;
    color: #000;
    margin-left: auto;
    /* Add spacing between appname and login status */
}

.login-container,
.welcome-container,
.register-container,
.form-container, 
.credits-container, 
.faq-container {
    text-align: center;
    background: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    /* width of login container */
    margin-top: 100px;
    /* Push down to make space for fixed header */
}

.welcome-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.login-container,
.welcome-container h1,
.register-container {
    color: #333;
}

.login-container,
.welcome-container,
register-container p {
    color: #666;
}

.input-group {
    margin-bottom: 1em;
}

.input-group label {
    display: block;
    color: #333;
    margin-bottom: 0.5em;
}

.input-group input,
select {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 20px;
    background-color: #5419f5;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5419f5;
}

.footer {
    background: #fff;
    /* Adjusted to white */
    color: #333;
    /* Text color adjusted for contrast */
    padding: 0;
    /* Removed padding */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* Center items vertically */
    position: relative;
    /* Changed from fixed to relative */
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-link {
    color: #fff;
    /* Text color adjusted for contrast */
    text-decoration: none;
    padding: 10px 15px;
    /* Adjusted padding for better spacing */
    background: #66BB6A;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px 10px;
    /* Add margin to space out the links */
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    /* Display as flex to align text */
    align-items: center;
    /* Align text vertically */
    justify-content: center;
    /* Align text horizontally */
}

.footer-link:hover {
    background-color: #66BB6A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-link, .cancel-button {
    color: #fff;
    /* Text color adjusted for contrast */
    text-decoration: none;
    padding: 10px 15px;
    /* Adjusted padding for better spacing */
    background: #5419f5;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px 10px;
    /* Add margin to space out the links */
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    /* Display as flex to align text */
    align-items: center;
    /* Align text vertically */
    justify-content: center;
    /* Align text horizontally */
}

.cancel-button {
    background: #ff4242;
}

.cancel-button:hover {
    background-color: #ff0000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-small-width {
    width: 10%;
}

.button-link:hover {
    background-color: #5419f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-user-logo {
    width: 25%;
    /* This will make the image take the full width of its parent */
    height: auto;
    /* To maintain the aspect ratio */
}

.logout-user-button-image {
    width: auto;
    /* This will make the image take the full width of its parent */
    height: 50%;
    /* To maintain the aspect ratio */
}

.room-preview-image {
    float: left;
    width: 15%;
    border-radius: 0.1rem;
    border: 0.02rem solid #000;
    border-top: white;
    border-right: white;
    margin-right: 3%;
}

.card-wrapper {
    display: inline-flex;
    width: 100%;
}

.card-wrapper>* {
    display: inline-flex;
}

.none-found {
    width: 100%;
    margin-left: 45%;
    margin-right: auto;
}

.card-outline {
    width: 100%;
    box-shadow: 0 0.02rem 0.03rem 0 #000;
    transition: 0.2s;
    padding: 1.2%;
}

.card-content {
    margin-top: auto;
}

.card-column {
    display: inline-block;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.card-column>.button-link {
    float: right;
    width: 25%;
}

.room-data {
    margin-bottom: 10%;
}

.time-data {
    margin-top: 10%;
}

.content {
    flex: 1;
    /* This will make the content grow to take available space, pushing the footer down */
}

.content-list {
    display: flex;
    flex: 1;
    margin: 20px;
    margin-top: 30px;
    /* Push down to make space for fixed header */
    display: flex;
    align-items: flex-start;
    /* Aligns items to the start of the container */
    justify-content: flex-start;
    /* Aligns the content to the start (left side) of the container */
    margin-right: 1rem;
    width: 100%;
}

.left-column {
    padding: 10px;
    min-width: 200px;
    /* min-width to ensure it doesn't get too small */
    flex-grow: 0;
    /* Do not allow the column to grow */
    flex-shrink: 0;
    /* Do not allow the column to shrink */
    flex-basis: 200px;
    /* Adjust the width as needed */
    padding: 10px;
    align-content: flex-start;

    button, #filterReset {
        width: 100%;
        padding: 1em;
        border: none;
        border-radius: 20px;
        background-color: #77f095;
        color: white;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s;
        text-align: center;
        padding-bottom: 18%;
    }

    #filterReset {
        background-color: #ff4242;
    }
}

.right-column {
    width: 100%;
    padding: 10px;
    border-left: 1px solid #ddd;
    /* separator between left and right columns */
    flex-grow: 1;
    /* Allows the column to grow and take up the remaining space */
    flex-shrink: 1;
    /* Allows the column to shrink if necessary */
    padding: 10px;
}

.data-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.data-list li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.rooms-list {
    list-style-type: none;
    padding: 0;
}

.rooms-list li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    display: block;
}

input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1
}

input::-webkit-calendar-picker-indicator:hover {
    background: transparent;
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator::after {
    content: '';
    display: block;
    background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-32.png) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
}

.date {
    position: relative;
    width: 154px;
    overflow: auto;
    background: #000;
}

input {
    width: 140px;
    padding: 5px;
    height: 24px;
    display: block;
}

/* =============================FAQ BOOKING CSS============================= */

.faq-container ul {
    list-style-type: none; 
    padding-left: 0; 
    margin-left: 0;
}

.faq-container li {
    margin-bottom: 20px; 
    padding: 10px;
    border-radius: 4px;
    background-color: #f2f2f2; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: left; 
}

.faq-container h3 {
    display: inline; 
}

/* =============================CREDITS CSS============================= */

.credits-container {
    text-align: center; 
    background-color: #ffffff; 
    padding: 1em 2em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 60%; 
    margin: 100px auto 50px; 
}

.credits-container h1 {
    color: #333; 
    margin-bottom: 20px; 
}

.credits-container ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.credits-container li {
    padding: 10px 0; 
    border-bottom: 0.2em solid #dddddd; 
    color: #222222; 
    font-size: 1.1em; 
}

/* =============================VIEW BOOKING CSS============================= */

.view-booking-content {
    flex: 1;
    width: 100%;
    margin-top: 50px;
}

.view-booking-content h2 {
    padding-left: 10%;
}

.view-booking-column-list {
    column-count: 2;
    list-style: none;
    padding-left: 10%;
    width: 35%;
}

.view-booking-column-list li {
    break-inside: avoid-column;
    padding: 4px;
    margin-bottom: 20px;
}

.view-booking-input {
    padding-left: 10%;
    box-sizing: border-box;
}

.view-booking-input textarea {
    width: 86%;
    resize: none;
    border-width: 0.1rem;
    border-radius: 1rem;
    margin-bottom: 20px;
}

.view-booking-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12%;
    padding-top: 1%;
}

.view-booking-button a {
    width: 12%;
}


.view-booking-editbutton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 9.6%;
    padding-top: 1%;
}

.view-booking-editbutton a {
    width: 12%;
}

.order-by-button-wrapper {
    margin: auto;
    width: 60%;
    margin-bottom: 1rem;
}

#approved-order-button-wrapper {
    padding-left: 0%;
    padding-right: 0%;
}

#approved-order-button-wrapper * {
    margin-left: auto;
    margin-right: auto;
}

#approved-order-button-wrapper .button-link {
    margin-right: 5%;
}

.room-preview-img {
    height: 100%;
    width: 17%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

/* used to make the list data animate in, so the user can see the data has changed */
@keyframes newDataLoadedEffect {
    /* fade */
    from { opacity: 0; }
    to { opacity: 1; }
    
    /* change background 
    0%, 100% {
        background-color: #ffffff; 
    }
    */
}

.newDataLoadedEffect {
    animation: newDataLoadedEffect 0.1s 1 ease-in-out;
    
    /* pulse background
    animation: newDataLoadedEffect 0.1s 1 ease-in-out;
    */
}

/* =============================DARK MODE CSS============================= */

/* Dark Mode Toggle Styles */
.theme-toggle {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* Dark Mode Base Styles */
[data-theme="dark"] body{
    background-color: #121212;
    color: #ffffff;
}

/* Dark Mode for specific components */
[data-theme="dark"] .top-menu,
[data-theme="dark"] .footer,
[data-theme="dark"] .button-link,
[data-theme="dark"] .footer-link,
[data-theme="dark"] .card-outline,
[data-theme="dark"] .card-content,
[data-theme="dark"] .card-column,
[data-theme="dark"] .tooltip {
    background: #222222;
    color: #dddddd; 
}

/* Dark Mode for input labels */
[data-theme="dark"] .input-group label {
    color: #ffffff; 
}

/* Dark Mode for container elements */
[data-theme="dark"] .login-container,
[data-theme="dark"] .welcome-container,
[data-theme="dark"] .register-container,
[data-theme="dark"] .form-container, 
[data-theme="dark"] .credits-container, 
[data-theme="dark"] .faq-container {
    background: #333333; 
    color: #ffffff; 
    padding: 2em; 
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); 
    border: 1px solid #444444; 
}

/* Dark Mode for text elements */
[data-theme="dark"] h1, [data-theme="dark"] h2, [data-theme="dark"] h3, [data-theme="dark"] h4, [data-theme="dark"] h5, [data-theme="dark"] h6 {
    color: #ffffff;
}

/* Dark Mode for links */
[data-theme="dark"] a {
    color: #bb86fc; 
}

/* Dark Mode for form elements */
[data-theme="dark"] input[type="text"], 
[data-theme="dark"] input[type="email"], 
[data-theme="dark"] input[type="password"], 
[data-theme="dark"] textarea, 
[data-theme="dark"] select,
[data-theme="dark"] input[type="text"]:focus, 
[data-theme="dark"] input[type="email"]:focus, 
[data-theme="dark"] input[type="password"]:focus, 
[data-theme="dark"] textarea:focus, 
[data-theme="dark"] select:focus {
    background-color: #333333;
    color: #e0e0e0;
}

/* Dark Mode for input elements */
[data-theme="dark"] input {
    background-color: #333333;
    color: #e0e0e0;
}

/* Dark Mode for buttons */
[data-theme="dark"] .button-link {
    background: #5419f5; 
    color: #ffffff; 
}

[data-theme="dark"] .footer-link {
    background: #66BB6A; 
    color: #ffffff; 
}

[data-theme="dark"] .footer-link:hover{
    background-color: #009083;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dark Mode for button hover states */
[data-theme="dark"] .button-link:hover {
    background-color: #bb86fc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Dark Mode for custom styles */
[data-theme="dark"] .border-dark {
    border-color: #e0e0e0;
}

/* Dark Mode for shadows */
[data-theme="dark"] .shadow-dark {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .logged-in-as {
    color: #ffffff;
}

/*Dark Mode for list items in faq*/
[data-theme="dark"] .faq-container li {
    background-color: #444444
}

/* Dark Mode for Credits Container */
[data-theme="dark"] .credits-container {
    padding: 1em 2em;
}

/* Dark Mode for Credits List Items */
[data-theme="dark"] .credits-container li {
    color: #ffffff; 
    border-bottom: 0.2em solid #555; 
}